@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Notes</h2>
        <p>
            In the implementation I have tried to cover different aspects of:
        </p>
        <ul>
            <li>Clean Arquitecture</li>
            <li>CQRS</li>
            <li>DDD</li>
            <li>Desing Patterns</li>
            <li>Unit Testing</li>
        </ul>
        <p>
            The architecture is obviously an overkill for the proposed problem and has been implemented in this way only for practice and demostration purposes. The UI implementation is minimal to be able to test the backend implementation
        </p>
    </div>
    <div class="col-md-6">
        <h2>Technologies</h2>
        <ul>
            <li>ASP.net Core MVC 2.1 (As required)</li>
            <li>Entity Framework Core 2.1 (InMemory provider)</li>
            <li>Xunit and Moq for Unit Testing</li>
            <li>ASP.net Razor Views scaffolding</li>
        </ul>
    </div>
</div>
