@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Features</h2>
        <ul>
            <li>Feature 1</li>
            <li>Feature 2</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Improvements</h2>
        <ul>
            <li>Improvement 1</li>
            <li>Improvement 2</li>
        </ul>
    </div>
</div>
