@model Presentation.Flights.Models.UpsertFlightViewModel

@{
    ViewBag.Title = "Create Flight";
    Layout = "_Layout";
}

<h2>Create Flight</h2>

@using (Html.BeginForm("create", "flights", FormMethod.Post))
{
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label">Source Airport</label>
        @Html.DropDownListFor(p => p.Flight.DepartureAirportId, Model.Airports, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Destination Airport</label>
        @Html.DropDownListFor(p => p.Flight.DestinationAirportId, Model.Airports, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Aircraft</label>
        @Html.DropDownListFor(p => p.Flight.AircraftId, Model.Aircrafts, new { @class = "form-control" })
    </div>
    @*<div class="form-group">
        <label class="control-label">Flight Name</label>
        @Html.TextBoxFor(p => p.Flight.IATA, new { @class = "form-control" })
    </div>*@
    <button type="submit" class="btn btn-primary">Create</button>
</form>
}

