@model IEnumerable<Presentation.Flights.Models.FlightViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Flights</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Source Airport</th>
        <th>Destination Airport</th>
        <th>Aircraft Type</th>
        <th>Flight Alias</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var flight in Model)
    {
        <tr>
            <td><a href="flights/@flight.Id">@flight.Id</a></td>
            <td>@flight.SourceAirport</td>
            <td>@flight.DestinationAirport</td>
        </tr>
    }
    </tbody>
</table>
<div class="pull-right">
    <a class="btn btn-primary" href="flights/create">Create Flight</a>
</div>
